<div class="row submit-form">
  <ul class="col-9 nav nav-tabs">
    <!-- todo -->
    <!--<li class="nav-item">-->
      <!--<a id="Headers-tab" class="nav-link submit-form-tab active" href="#">Headers</a>-->
    <!--</li>-->
    <li class="nav-item">
      <a id="Cookies-tab" class="nav-link submit-form-tab" href="#">Cookies</a>
      </li>
    <li class="nav-item">
      <a id="Body-tab" class="nav-link submit-form-tab active" href="#">Body</a>
    </li>
  </ul>
  <div class="col-9 tab-content submit-form-forms" id="Submit-form-data">
    <!-- todo -->
    <!--<div class="tab-pane fade show active submit-form-item headers-form" id="Headers-form" role="tabpanel" aria-labelledby="home-tab">-->
      <!--Headers-->
    <!--</div>-->
    <div class="tab-pane fade submit-form-item" id="Cookies-form" role="tabpanel" aria-labelledby="profile-tab"></div>
    <div class="tab-pane fade show active submit-form-item" id="Body-form" role="tabpanel" aria-labelledby="contact-tab">
      <ul class="nav nav-tabs">
      </ul>
      <div class="col-9 tab-content"></div>
    </div>
  </div>
</div>
