<div class="form-inline url-form">
  <div class="input-group col-9">
    <div class="input-group-prepend">
      <button class="btn btn-primary mb-2 connect-btn">Connect</button>
    </div>
    <input type="url" class="form-control" id="inlineFormInputGroupUsername2" value="wss://echo.websocket.org">
    <div class="input-group-append">
      <button class="btn btn-warning mb-2 connect-btn">Disconnect</button>
    </div>
  </div>

  <button class="btn btn-primary mb-2 send-btn">Send</button>

  <button class="btn btn-dark mb-2 save-btn">Save</button>
</div>
