<div class="form-inline url-form">
  <div class="input-group col-9">
    <div class="input-group-prepend">
      <button class="btn btn-primary mb-2 connect-btn">Connect</button>
    </div>
    <input type="url" class="form-control" id="Url-input" value="wss://echo.websocket.org">
    <div class="input-group-append">
      <button class="btn btn-warning mb-2 connect-btn">Disconnect</button>
    </div>
  </div>
</div>
