<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        {{{title}}}
      </div>
    </nav>
    <div class="container">
      {{{body}}}
    </div>
  </div>
<script src="/javascripts/websocket.js"></script>
</body>
</html>
