<div class="action-area">
  <div class="input-area">
    <h1>{{title}}</h1>
    <strong>Location:</strong><br>
    <input id="ws-uri" size="35" value="ws://localhost:9000/ws/levels">
    <br>
    <button id="connect">Connect</button>
    <button id="disconnect" disabled>Disconnect</button>
    <br>
    <br>
    <strong>JSON message:</strong><br>
    <input id="send-message" size="35" disabled="">
    <br>
    <button id="send" disabled="">Send</button>
    <br>
    <button id="clear-log">Clear Log</button>
  </div>
  <div id="output"></div>
</div>
