@import "./navbar"
@import "./variables"
@import "url_form"
@import "submit_form"

html
  height: 100%

body
  height: 100%
  background-color: $main-background
  color: #ffffff

a
  color: #00B7FF

input:disabled
  cursor: not-allowed
